@keyframes spinner_Div {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .spinner_Div div {
    left: 49px;
    top:14px;
    position: absolute;
    animation: spinner_Div linear 0.9900990099009901s infinite;
    background: #ecd014;
    width: 5px;
    height: 17px;
    border-radius: 0px / 0px;
    transform-origin: 2.5px 30.5px;
  }.spinner_Div div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9075907590759075s;
    background: #ecd014;
  }.spinner_Div div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.825082508250825s;
    background: #ecd014;
  }.spinner_Div div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.7425742574257426s;
    background: #ecd014;
  }.spinner_Div div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6600660066006601s;
    background: #ecd014;
  }.spinner_Div div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5775577557755776s;
    background: #ecd014;
  }.spinner_Div div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.495049504950495s;
    background: #ecd014;
  }.spinner_Div div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4125412541254125s;
    background: #ecd014;
  }.spinner_Div div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.33003300330033003s;
    background: #ecd014;
  }.spinner_Div div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.2475247524752475s;
    background: #ecd014;
  }.spinner_Div div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16501650165016502s;
    background: #ecd014;
  }.spinner_Div div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08250825082508251s;
    background: #ecd014;
  }.spinner_Div div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #ecd014;
  }
  .loading_spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    overflow: hidden;
  }
  .spinner_Div {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.48);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .spinner_Div div { box-sizing: content-box; }